<!DOCTYPE html >
<html xmlns:xlink="http://www.w3.org/1999/xlink">
    <meta charset="utf-8">

    <!-- Set a style for our worldshape-data -->
    <style>
        path {
            stroke: white;
            stroke-width: 0.5px;
            fill: grey;
        }
        .selected {
            background-color: gainsboro;
        }
    </style>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/d3/d3.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>



@Styles.Render("~/styles/ulf")
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="chart" class="col-xs-7 "></div>
                <div class="col-xs-2 ">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <ul>
                                <li data='getgdpdata'>PKB</li>
                                <li data='getgdpdata'>Ludność</li>
                                <li data='getgdpdata'>PKB per capita</li>
                                <li data='getgdpdata'>lorem ipsum</li>
                            </ul>

                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <!-- implementation of the hosted D3- and TopoJson js-libraries -->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v0.min.js"></script>
        <script src="~/Scripts/underscore.js"></script>


        <!-- map creation -->
        <script src="~/Scripts/mapa.js"></script>

    </body>
</html>