<!DOCTYPE html>
    <meta charset="utf-8">

    <!-- Set a style for our worldshape-data -->
    <style>
        path {
            stroke: white;
            stroke-width: 0.5px;
            fill: grey;
        }
    </style>
    <body>

        <!-- implementation of the hosted D3- and TopoJson js-libraries -->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v0.min.js"></script>
        <script src="~/Scripts/underscore.js"></script>


        <!-- map creation -->
        <script src="~/Scripts/mapa.js"></script>

    </body>
</html>